@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";

.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #242424;
    padding: 1rem;
    height: 70px;
}
.container{
    display: flex;

}

.image{
    width: 90px;
    height: 70px;
    background-color: blue;
}
.mentorship{

}
